/* Set up */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: re;

    /* Colors */
    --background-black: #1A1A1A;
    --background-white: #ffffff;
    --wm-orange: #F7941D;
}

/* Common Classes */

.margin-ver-align {
    margin: auto 0;
}

.margin-hor-align {
    margin: 0 auto;
}

.flex-hor-center {
    display: flex;
    justify-content: center;
}

.flex-ver-center {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

/*  */

.begining {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-black);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.begining .coding-logo {
    width: 20vw;
    height: 20vw;
}

.begining p {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: var(--wm-orange);
    font-size: 4vw;
    margin: 1vw 0;
    font-weight: bold;
}

.begining-text {
    display: flex;
}

.begining-text img {
    width: 30%;
}

.themes {
    display: flex;
    justify-content: center;
}

.themes .dark-theme, .themes .light-theme {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 0 3vw;
}

.themes .dark-theme {
    background-color: var(--background-black);
}

.themes .light-theme {
    background-color: var(--background-white);
    border: solid 0.25vw var(--wm-orange);
}