/* Set up */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;

    /* Colors */
    --background-black: #1A1A1A;
    --background-white: #ffffff;
    --wm-orange: #F7941D;
}

body {
    overflow: hidden;
}

/* Common Classes */

.margin-ver-align {
    margin: auto 0;
}

.margin-hor-align {
    margin: 0 auto;
}

.flex-hor-center {
    display: flex;
    justify-content: center;
}

.flex-ver-center {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

/* Cursors */

#cursor {
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--wm-orange);
    border: solid 0.5px var(--background-black);

    transform: none;
}

.particle {
    background-color: var(--wm-orange);
}

/*  */

.begining {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.begining .coding-logo {
    width: 20vw;
    height: 20vw;
}

.begining-text {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* color: var(--wm-orange); */
    font-size: 4vw;
    margin: 1vw 0;
    font-weight: 900;
    display: flex;
}

.begining-text img {
    width: 30%;
}

.themes {
    display: flex;
    justify-content: center;
}